name: C++ Build and Test

on:
  push:
    branches: [ main, dev, 'feature/**' ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Vulkan SDK
      shell: powershell
      run: |
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/1.4.341.1/windows/vulkan_sdk.exe" -OutFile "vulkan.exe"
        Start-Process -Wait -NoNewWindow -FilePath ".\vulkan.exe" -ArgumentList "--root", "C:\VulkanSDK", "--accept-licenses", "--default-answer", "--confirm-command", "install"
        "VULKAN_SDK=C:\VulkanSDK" >> $env:GITHUB_ENV
        "C:\VulkanSDK\Bin" >> $env:GITHUB_PATH

    - name: Configure CMake
      run: cmake -B build -S . -DCMAKE_BUILD_TYPE=Release -DVULKAN_SDK=$env:VULKAN_SDK

    - name: Build
      run: cmake --build build --config Release

    - name: Run Tests
      run: |
        cd build/Release
        .\TestDeps.exe
        .\TestEngine.exe
